.iMkVyQ {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    color: rgb(143, 158, 170);
    text-transform: none;
}

.ReTQC {
    display: flex;
    flex: 1 0 calc(8.33333%);
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px 16px 0px 0px;
    min-width: 250px;
    height: 280px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 59, 69);
    border-radius: 4px;
    cursor: pointer;
}

.jbFaYM {
    display: flex;
    flex-direction: column;
    margin: 16px 16px 12px;
    min-height: 48px;
    color: rgb(207, 213, 218);
}

.fzMrBN {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    color: rgb(143, 158, 170);
    align-self: center;
    text-transform: none;
}

.jscOp {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin: 8px 16px;
    color: rgb(207, 213, 218);
}

.ddSHPm {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-size: 8px;
    line-height: 10px;
    font-weight: normal;
    color: rgb(143, 158, 170);
    text-transform: none;
}

.jbbbdg {
    display: flex;
    flex: 2 0 calc(16.6667%);
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px 16px 0px 0px;
    min-width: 250px;
    height: 280px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 59, 69);
    border-radius: 4px;
}

.bsiOIs {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 16px;
    min-height: 100px;
    max-height: 130px;
    color: rgb(207, 213, 218);
}

.bsiOIs > :not(:last-child) {
    margin-right: 16px;
}

.eeYKYc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(207, 213, 218);
}

.eeYKYc > :not(:last-child) {
    margin-bottom: 20px;
}

.iOBRGE {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: rgb(207, 213, 218);
}

.gQeEeu {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(0, 171, 68);
}

.efatcH {
    cursor: pointer;
}

.kvuzMD {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(207, 213, 218);
    text-transform: none;
}

.cOxcbx {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(150, 212, 162);
}

.kKxQeY {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(83, 103, 117);
}

.eVBLvB {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100px;
    color: rgb(207, 213, 218);
}

.giFYQ {
    display: flex;
    flex: 2 0 calc(16.6667%);
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px 16px 0px 0px;
    min-width: 250px;
    height: 280px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 59, 69);
    border-radius: 4px;
    cursor: pointer;
}

.dyMZSO {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(25, 200, 158);
}

.grYJhN {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(255, 204, 38);
}

.gsSqYT {
    cursor: auto;
}

.iwCNwe {
    display: flex;
    flex: 5 0 550px;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px 16px 0px 0px;
    min-width: 250px;
    height: 280px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 59, 69);
    border-radius: 4px;
}

.ksySnm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(207, 213, 218);
}

.iBlNiS {
    display: flex;
    flex: 1 0 200px;
    flex-direction: row;
    color: rgb(207, 213, 218);
}

.hkPWOm {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(87, 144, 255);
}

.hQnXCZ {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(0, 186, 226);
}

.eiYnSb {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(181, 150, 248);
}

.cgeWnc {
    display: flex;
    flex: 1 0 50%;
    flex-direction: row;
    padding: 0px 16px 0px 8px;
    color: rgb(207, 213, 218);
}

.cgeWnc > :not(:last-child) {
    margin-right: 8px;
}

.fOHZIk {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: rgb(207, 213, 218);
}

.ilIqac {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: rgb(143, 158, 170);
    align-self: center;
    text-transform: none;
    margin: 0px auto;
}

.dwDZib {
    display: flex;
    flex: 1 0 calc(16.6667%);
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px 16px 0px 0px;
    min-width: 250px;
    height: 280px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 59, 69);
    border-radius: 4px;
}

.kqFAf.kqFAf {
    color: rgb(0, 171, 68);
}

.kpeljL {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    color: rgb(207, 213, 218);
    text-transform: none;
}

.leXnrk {
    display: flex;
    flex-direction: column;
    margin: 16px 16px 4px;
    color: rgb(207, 213, 218);
}

.ggOxIj {
    display: flex;
    flex-direction: column;
    color: rgb(207, 213, 218);
}

.ggOxIj > :not(:last-child) {
    margin-bottom: 4px;
}

.cuUeHf {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(207, 213, 218);
}

.eYjaHu {
    display: flex;
    flex-direction: row;
    margin: 0px 4px 0px 0px;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(25, 200, 158);
    border-radius: 12px;
}

.jCGRbS {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: rgb(143, 158, 170);
    text-transform: none;
    margin: 0px 12px 0px 0px;
}

.euzVCd {
    line-height: 17px;
}

.kFLHZk {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(143, 158, 170);
    text-transform: none;
}

.epoHpL {
    display: flex;
    flex-direction: row;
    margin: 0px 4px 0px 0px;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(181, 150, 248);
    border-radius: 12px;
}

.hexSrK {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8px;
    color: rgb(207, 213, 218);
    background-color: rgb(181, 150, 248);
    border: 1px solid rgb(181, 150, 248);
    border-radius: 2px;
}

.fuOjlW {
    display: flex;
    flex-direction: column;
    margin: 24px 0px 0px;
    color: rgb(207, 213, 218);
}

.iqOrQL {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 8px;
    color: rgb(207, 213, 218);
}

.iqOrQL > :not(:last-child) {
    margin-right: 4px;
}

.ggfmKQ {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 0px 4px;
    color: rgb(207, 213, 218);
}

.kihwiS {
    display: flex;
    flex-direction: row;
    margin: 0px 4px 0px 0px;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(87, 144, 255);
    border-radius: 12px;
}

.iRmHws {
    display: flex;
    flex-direction: row;
    margin: 0px 4px 0px 0px;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(72, 228, 153);
    border-radius: 12px;
}

.kRSRIU {
    display: flex;
    flex-direction: row;
    margin: 0px 4px 0px 0px;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(249, 168, 37);
    border-radius: 12px;
}

.kRQLiO {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 65, 74);
    border: 1px solid rgb(53, 65, 74);
    border-radius: 2px;
}

.jKDsQd {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgb(87, 144, 255);
    border: 1px solid rgb(87, 144, 255);
    border-radius: 2px;
    position: relative;
}

.jMuUeB {
    display: flex;
    flex: 5 0 430px;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px 16px 0px 0px;
    min-width: 250px;
    height: 280px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 59, 69);
    border-radius: 4px;
}

.hxVLdi {
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    height: 100%;
    color: rgb(207, 213, 218);
}

.cQPPXm {
    width: 100%;
    height: auto;
    max-height: 160px;
    align-self: start;
}

.fZOWlq {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.cQPPXm tr {
    height: 24px;
}

.cQPPXm.cQPPXm.cQPPXm th {
    border-bottom: none;
}

.cQPPXm thead tr th {
    background: rgb(53, 59, 69);
}

.cQPPXm tr th {
    padding-bottom: 0px;
}

.bhhAF > tr th {
    border-spacing: 0px;
    border-bottom: 1px solid rgb(174, 179, 183);
    padding-bottom: 5px;
}

.cQPPXm th, .cQPPXm td {
    padding: 0px;
    height: 24px;
}

caption, th {
    text-align: left;
}

.cQPPXm thead tr th div {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.jjisSU {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    min-height: 24px;
    color: rgb(207, 213, 218);
}

.huRseF {
    cursor: auto;
    position: relative;
}

.hXlZbA {
    display: flex;
    flex-direction: column;
    margin: 4px 0px 0px;
    color: rgb(207, 213, 218);
}

.gZvrcZ {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 213, 218);
    border: 1px solid rgb(207, 213, 218);
    border-radius: 2px;
    position: relative;
}

.hGmNHm {
    display: flex;
    flex: 0 0 calc(16.6667%);
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px 16px 0px 0px;
    min-width: 250px;
    height: 280px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 59, 69);
    border-radius: 4px;
}

.ZAGtR {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(255, 65, 54);
}

.ggGJcU {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(249, 168, 37);
}

.dlQiGU {
    height: 100px;
    width: 100px;
    opacity: 1;
    pointer-events: unset;
    fill: rgb(83, 103, 117);
    align-self: center;
}

.bKcioO {
    display: flex;
    flex: 0 0 calc(16.6667%);
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 16px 16px 0px 0px;
    min-width: 250px;
    height: 280px;
    color: rgb(207, 213, 218);
    background-color: rgb(53, 59, 69);
    border-radius: 4px;
    cursor: pointer;
}

.kjocwc {
    display: flex;
    flex-direction: row;
    width: 4px;
    height: 16px;
    color: rgb(207, 213, 218);
    background-color: rgb(72, 228, 153);
}

.begaXn {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 16px;
    color: rgb(207, 213, 218);
}

.begaXn > :not(:last-child) {
    margin-bottom: 8px;
}